body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input, button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
}
